mixin SelectBox(name, options, title)
  .select-box&attributes(attributes)
    if title
        .select-box__title= title
    .select-box__current(tabindex="1")
      each option, index in options
        .select-box__value
          input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
          p.select-box__input-text #{option.name}
            +icon('arrow')
    ul.select-box__list
      each option, index in options
        li
          label.select-box__option(for=option.id aria-hidden) #{option.name}
